In [2]:
import pandas as pd
import numpy as np

## Changing Options with Attributes and Dot Syntax

In [7]:
data = np.random.randint(0,100,[1000,50])
df = pd.DataFrame(data)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
995,36,4,67,3,21,64,72,96,84,59,...,42,60,93,6,43,89,37,16,93,69
996,43,25,76,29,3,95,0,34,66,71,...,8,69,60,95,0,83,39,57,99,82
997,59,55,43,62,83,10,58,25,89,54,...,75,58,35,5,8,41,83,78,7,14
998,60,40,25,59,87,37,26,87,75,38,...,19,80,34,95,79,16,81,46,9,44
999,30,99,25,21,63,55,66,91,22,98,...,72,67,79,32,57,27,5,50,18,18

In [17]:
pd.options.display.max_rows = 4
pd.options.display.max_columns = 8

In [18]:
df

     0   1   2   3   ...  46  47  48  49
0    97   0  57  45  ...  63  94  34  55
1     5  36  40  12  ...  27  69  73   9
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998  60  40  25  59  ...  81  46   9  44
999  30  99  25  21  ...   5  50  18  18

[1000 rows x 50 columns]

In [22]:
pd.get_option("max_columns")

OptionError: Pattern matched multiple keys

In [23]:
pd.set_option()
df

OptionError: Pattern matched multiple keys

## The `precision` Option

In [25]:
df = pd.DataFrame(np.random.randn(5,5))
df

           0         1         2         3         4
0   0.703052 -0.446665  1.653368  0.411695  0.594853
1   0.802180 -0.634611 -1.904741  0.173008 -0.913887
..       ...       ...       ...       ...       ...
3   0.926793 -0.082529 -1.680251 -0.780734 -0.789301
4   0.844237  1.580979 -0.319669 -0.155230 -0.637853

[5 rows x 5 columns]

In [26]:
pd.get_option("precision")

OptionError: Pattern matched multiple keys