In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

# Review of Python's `datetime` Module

In [11]:
sd = dt.date(2016,4,12)
str(sd)

'2016-04-12'

In [7]:
sd.year
sd.month
sd.day

12

In [8]:
dt.datetime(2010,1,10)

datetime.datetime(2010, 1, 10, 0, 0)

In [10]:
str(dt.datetime(2010,1,10,17,13,57))

'2010-01-10 17:13:57'

## The `pandas Timestamp` Object

In [15]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("19/12/2015")
pd.Timestamp("4/3/2000") # pandas take 4 as month
pd.Timestamp("2021-03-08 6:13:29 pm")

D:\Rahul\Anaconda3\envs\pandas_playground\lib\site-packages\IPython\core\interactiveshell.py:3134: UserWarning: Parsing '19/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2021-03-08 18:13:29')

In [16]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [17]:
pd.Timestamp(dt.datetime(2000,2,3,21,35,22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DatetimeIndex` Object

In [22]:
dates = ["2015-4-3","2016-4-6","2019-7-9"]
dtindex = pd.DatetimeIndex(dates)
# can also use python's datetime objects

In [23]:
values = [100,200,300]
pd.Series(data=values,index=dtindex)

2015-04-03    100
2016-04-06    200
2019-07-09    300
dtype: int64

## The `pd.to_datetime()` Method

In [28]:
pd.to_datetime("2000-07-8")
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))
pd.to_datetime(["2010/8/9","2022-5-9","2015","July 4th,1989"])

DatetimeIndex(['2010-08-09', '2022-05-09', '2015-01-01', '1989-07-04'], dtype='datetime64[ns]', freq=None)

In [30]:
times = pd.Series(["2010/8/9","2022-5-9","2015","July 4th,1989"])
times

0         2010/8/9
1         2022-5-9
2             2015
3    July 4th,1989
dtype: object

In [31]:
pd.to_datetime(times)

0   2010-08-09
1   2022-05-09
2   2015-01-01
3   1989-07-04
dtype: datetime64[ns]

In [33]:
dates = pd.Series(["July 4th 1996","10/04/1991","Hello","2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [35]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [37]:
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705],unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

## Create Range of Dates with the `pd.date_range()` Metohd, Part 1

In [41]:
times = pd.date_range(start="01-01-2016",end="01-10-2016",freq="1D")

In [42]:
pd.date_range(start="01-01-2016",end="01-10-2016",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [43]:
pd.date_range(start="01-01-2016",end="01-10-2016",freq="B")
# Business day

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [46]:
pd.date_range(start="01-01-2016",end="01-15-2016",freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [48]:
pd.date_range(start="01-01-2016",end="01-10-2016",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [50]:
pd.date_range(start="01-01-2016",end="02-10-2016",freq="M")
## month end for month start MS

DatetimeIndex(['2016-01-31'], dtype='datetime64[ns]', freq='M')

In [52]:
pd.date_range(start="01-01-2016",end="01-10-2050",freq="A")
# Last day of each year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Metohd, Part 2

In [60]:
pd.date_range(start="2012-09-09", periods=50,freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Metohd, Part 3

In [66]:
pd.date_range(end="1999-12-31", periods=40, freq="W-FRI")

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

## The `.dt` Accessor

In [67]:
bd = pd.date_range(start = "2000-01-01",end="2010-12-31",freq="24D")

In [69]:
s = pd.Series(bd)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [81]:
s.dt.day
s.dt.month
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

## Importing Financial dataset with `pandas_datareader` Library

In [46]:
stocks = data.DataReader(name="MSFT", data_source="yahoo",start ="2010-01-01",end ="2020-12-31")

In [9]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [13]:
stocks.loc[pd.Timestamp("2010-01-04")]
stocks.iloc[500]

High         2.604000e+01
Low          2.573000e+01
Open         2.591000e+01
Close        2.603000e+01
Volume       2.320580e+07
Adj Close    2.097655e+01
Name: 2011-12-23 00:00:00, dtype: float64

In [17]:
stocks.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-01-25")]]

             High    Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.59  30.620001  30.950001  38409100.0  23.800226
2010-01-25  29.66  29.10  29.240000  29.320000  63373000.0  22.546774

In [20]:
stocks.loc[pd.Timestamp("2010-01-04"):pd.Timestamp("2010-01-10")]
stocks.truncate(before = "2010-01-04",after = "2013-01-01")

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.800226
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.807915
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.661804
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.415726
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.577215
...               ...        ...        ...        ...         ...        ...
2012-12-24  27.250000  27.000000  27.200001  27.059999  20842400.0  22.423300
2012-12-26  27.200001  26.700001  27.030001  26.860001  31631100.0  22.257570
2012-12-27  27.090000  26.570000  26.889999  26.959999  39394000.0  22.340431
2012-12-28  26.900000  26.549999  26.709999  26.549999  28239900.0  22.000689
2012-12-31  26.770000  26.370001  26.590000  26.709999  42749500.0  22.133272

[754 rows x 6 columns]

In [23]:
bday = pd.date_range(start="2000-08-07",end="2022-06-09",freq=pd.DateOffset(years = 1))

In [25]:
bstock = stocks.index.isin(bday)

In [27]:
stocks[bstock]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-08-07,30.350000,29.870001,30.070000,30.260000,28002900.0,24.706940
2013-08-07,32.099998,31.250000,31.540001,32.060001,38078600.0,26.974346
2014-08-07,43.450001,42.650002,42.840000,43.230000,30314900.0,37.445610
2015-08-07,46.779999,46.259998,46.389999,46.740002,19163000.0,41.555847
2017-08-07,72.900002,72.260002,72.800003,72.400002,18705700.0,67.813728
2018-08-07,109.099998,108.169998,108.559998,108.879997,16080200.0,103.973885
2019-08-07,135.649994,131.830002,133.789993,135.279999,33414500.0,131.282043
2020-08-07,215.699997,210.929993,214.850006,212.479996,27820400.0,208.737915

## `Timestamp` Object Attributes and Methods

In [28]:
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438801
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800226
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807915

In [30]:
sday = stocks.index[500]

In [35]:
sday.month
sday.week
sday.is_month_end
sday.day

23

In [37]:
sday.month_name()
sday.day_name()

'Friday'

In [39]:
stocks.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2770)

In [47]:
stocks.insert(0,"Day of week",stocks.index.day_name())

In [48]:
stocks

,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.438799
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807917
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661806
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415735
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930313
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112335
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312592
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873825
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604492

In [49]:
stocks.insert(1," IS start of month",stocks.index.is_month_start)

In [50]:
stocks

,Day of week,IS start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.438799
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807917
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661806
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415735
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930313
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112335
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312592
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873825
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604492